<style>

html { 
	height: 100%
}

body { 
	height: 100%;
	margin: 0;
	padding: 0 
}

#map-canvas {
	height: 500px;
	width: 500px;
}

form {
	margin: auto .5em;
    padding: .5em;
}
input.submit, .when{
	margin: .5em 0;
	padding: .5em;
}

.when {
	margin:3em .5em .5em .5em;
	padding: .5em;
}
 .where, .how, .gifts{
	margin:1em .5em .5em .5em;
	padding: .5em;
}

</style>

