<style>

html {
	height: 100%
}

body {
/*		background: #eee ;*/
	height: 100%;
	margin: 0;
	padding: 0
}

#map-canvas {
	float:right;
	clear:right;
	min-height: 200px;
	min-width: 200px;
	max-height: 600px;
	max-width: 500px;
}

form {
	float:left;
	margin: auto .5em;
    padding: .5em;
}
input.submit, .when{
	margin: .5em 0;
	padding: .5em;
}

.when.detail {
	margin:0 auto;
}

.detail {
	line-height:1.5em;
	clear:right;
	display:relative;
	max-width: 800px;
	padding: .5em;
	margin:1em auto;
}
legend{
	line-height: 2em;
	letter-spacing: .8px;
	width:100%;
	font-size:125%;
	color:#333;
	display:block;
	margin: 0 auto;
	border-bottom: 1px solid #e5e5e5;

}

legend:first-of-type {
	margin: 3em auto 1em;
}

img.section{
	height:15%;
	margin: 1em auto -5em;
}

.detail-header {
	margin-top: 30px;
}

</style>

