<style>

html {
	height: 100%
}

body {
/*		background: #eee ;*/
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	height: 100%;
	margin: 0;
	padding: 0
}
,
input.submit, .when{
	margin: .5em 0;
	padding: .5em;
}

.when.detail, .hotel-table {
	margin:0 auto;
}

.where.detail, .gifts.detail, .hotel.detail {
	margin: 2em auto;
	font-size:.96em;
}

.explore.detail{
	padding-bottom: 300px;
}
.explore li {
	list-style: none;
}

.detail {
	line-height:1.4em;
	clear:right;
	display:relative;
	max-width: 800px;
	margin:1em auto;
}

.where div {
	margin-bottom: 2em;
}

.right-border {
	margin: auto -5px;
	border-right:thin solid #e5e5e5;
}

legend{
	line-height: 2em;
	letter-spacing: .8px;
	width:100%;
	font-size:1.25em;
	color:#333;
	display:block;
	margin: 0 auto;
	border-bottom: 1px solid #e5e5e5;

}

legend:first-of-type {
	margin: 3em auto 1em;
}

img.section{
	height:15%;
	margin: 1em auto -5em;
}

.detail-header {
	font-size :1.5em;
	margin-top: 30px;
}

.bold {
	font-size:1.2em;
	font-weight: bolder;
}

</style>

