body {
/*      background: #eee ;*/
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.header .pure-menu {
    padding: .5em;
}

.1-box {
    padding: 1em;
}

.main {
    margin: 2em auto 0;
    padding: 3em .5em;
    background: #eee;
}

.centered {
    text-align: center;
}

/*.header a{-webkit-transition-property:color,background-color,padding-left;-webkit-transition-duration:500ms,500ms,500ms}
.header a:hover{background-color:#efefef;color:#333;padding-left:30px}*/