input.notice {
	margin:1.5em ;
}

.rsvp-form input, .rsvp-form label, .rsvp-form select, legend {
	margin: 1em 1.3em 0;
}

.pure-form .submit-name label {
    font-size: 40px;
    color: black;
}

.centered-table {
    margin-left: auto;
    margin-right:auto;
}

.small-spacing {
    margin-top: 13px;
    display: inline-block;
}

.small-link {
    text-decoration: underline;
}

.pure-form label.guest-name{
    color: black;
}